


<div class="row gx-4 gx-lg-5 ms-4">
  <p><div class="h3 text-primary mt-3"><%= @user.nickname %>さんの投稿一覧</div></p>
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <%= image_tag post.image, class: "img-thumbnail img-cover" %>
              <div class="h4">
              【対象年齢】 <%= post.target_age.name %>
              </div>
          </div>
      <div class="card-footer d-flex justify-content-between align-items-center">
        <%= link_to "詳細", post_path(post), class: "btn btn-primary btn-sm", data: { turbo: false } %>
          <span>投稿者：<%= post.user.nickname %></span>
        </div>
       </div>
      </div>
    <% end %>
    
      <h4>フォロー</h4>
        <% @user.followings.each do |user| %>
          <div class="h6">
            <p class=“f-user”><%= link_to user.nickname, user_path(user.id) %>さん</p>
        <% end %>
      <h4>フォロワー</h4>
        <% @user.followers.each do |user| %>
          <p class=“f-user”><%= link_to user.nickname, user_path(user.id) %>さん</p>
        <% end %>
      </div>
</div>