<%= stylesheet_link_tag "new", "data-turbo-track": "reload" %>

<body class="bg-light">
    <div class="container h-100">
    		<div class="row h-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

					<%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>

						<div class="text-center mt-4">
							<h1 class="h2">さぁ、Log inしよう!</h1>
							<p class="lead">
								登録しているユーザーでログイン
							</p>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<form>
										<div class="form-group">
											<%= f.label :email %>
											<%= f.email_field :email, class: "form-control form-control-lg", placeholder: "Enter your email" %>
										</div>
										<div class="form-group mt-2">
											<%= f.label :password %>
											<i>(英数字6文字以上)</i>
											<%= f.password_field :password, autocomplete: "off", class: "form-control form-control-lg", placeholder: "Enter password" %>
										</div>
										<div class="text-center mt-3">
											<%= f.submit "Log in", class: "btn btn-lg btn-primary" %>
										</div>
									</form>
								</div>
							</div>
						</div>
					<% end %>
					</div>
				</div>
			</div>
		</div>
</body>