<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>

    </head>
    <body class="bg-light">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <div class="container px-5">
                <a class="navbar-brand" href="<%= root_path %>">
                  <img src="<%= asset_path('2.png') %>" alt="アイコン" class="navbar-icon">
                  赤ちゃんとオモチャ（仮称）
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <% if current_user.present? %>
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#!"><%= current_user.nickname %>さん</a>
                          </li>
                        <% end %>

                        <% if user_signed_in? %>
                          <li class="nav-item">
                            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link", data: { turbo_method: :delete } %>
                          </li>
                        <% else %>
                        <li class="nav-item">
                            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
                          </li>
                        <li class="nav-item">
                            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
              <div class="col-lg-7">
                <%= image_tag("1.jpg", class: "img-fluid rounded mb-4 mb-lg-0", alt: "Topページの画像が表示されます") %>
              </div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">おもちゃについて<br />共有しよう!</h1>
                    <p>3ヶ月から1歳までの赤ちゃんが、どんなおもちゃに興味を示すのか？実体験を元におもちゃを投稿して下さい。皆さんの赤ちゃんのおもちゃ選びの参考になればと考えています。</p>
                     <% if user_signed_in? %>
                      <%= link_to "新規投稿する", new_post_path, class: "btn btn-primary" %>
                     <% end %>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-2 text-center">
                <div class="h1"><p class="text-white m-0">投稿画像一覧</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
              <% @posts.each do |post| %>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <%= image_tag post.image, class: "img-thumbnail img-cover" %>
                              <div class="h4">
                               【対象年齢】 <%= post.target_age.name %>
                              </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                          <%= link_to "詳細", post_path(post), class: "btn btn-primary btn-sm" %>
                          <span>投稿者：<%= post.user.nickname %></span>
                        </div>
                    </div>
                </div>
               <% end %>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-secondary">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
